# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Git
.git/
.gitignore

# Env and secrets
.env
secrets.dev.yaml
values.dev.yaml

# Logs and temp folders
*.log
tmp/
temp/
output/
dist/
build/

# IDE configs
.vscode/
.idea/
.project
.classpath
.settings/
*.iml

# Docker/compose files (optional)
Dockerfile
docker-compose.yml
